@using DemoSignalRChat.ViewModels
@model IEnumerable<UserViewModel>
<ul>
    @foreach (UserViewModel u in Model)
    {
        <li class="friend-chat" data-userName="@u.UserName" id="@u.UserId">@u.UserName</li>
    }
</ul>
