@using DemoSignalRChat.ViewModels
@model IEnumerable<UserViewModel>
<div id="chat-list">
    @foreach (UserViewModel f in Model)
    {
        <div id="@f.UserId" class="user-chat friend-chat" data-username="@f.UserName">
            <img class="img28x28" src="@f.Avatar" />
            <span>@f.UserName</span>
        </div>
    }
</div>

