<div id="form-post" class="row">
    <textarea id="txt-post" class="form-control textarea-auto-expand" name="msgPost" rows="3" placeholder="post here..."></textarea>
    <div id="btns-post">

        <button id="btn-text" type="submit" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-pencil"></span> Post
        </button><!-- #btn-text  -->

        <button id="btn-link" type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-link"></span> Link
        </button><!-- #btn-link -->

        <a id="btn-photo" class="btn btn-success btn-sm" data-toggle="modal" href="#snapshootModal">
            <span class="glyphicon glyphicon-camera"></span> Image
        </a><!-- #btn-photo -->

        <button id="btn-video" type="button" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-facetime-video"></span> Video
        </button><!-- #btn-video -->

    </div>
</div><!--\#form-post-->
