<div id="news">
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
    <div class="new">
        <img class="img28x28" src="~/Uploads/Users/backham.jpg" />
        <span>Bạn Thằng Tèo</span>
    </div>
</div>
