
@{
    Layout = null;
}

@using DemoSignalRChat.ViewModels
@model IEnumerable<FriendSugestViewModel>
<div id="suggest-friends">
    @foreach (FriendSugestViewModel friendSuggest in Model)
    {
        <div class="suggest-friend">
            <div class="sf-image float-left">
                <img class="img50x50" src="@friendSuggest.Avatar" />
            </div>
            <div class="sf-info float-left">
                <a class="sf-name">@friendSuggest.Displayname</a>
                <a class="sf-manufet">@friendSuggest.ListFriendMutual.Count() mutual friend</a>
                <a data-userid="@friendSuggest.UserId" class="add-friend">+1 Addfriend</a>
            </div>
            <div class="clear-both"></div>
        </div>
    }
</div>