
@{
    Layout = null;
}

@using DemoSignalRChat.ViewModels

@model IEnumerable<CommentViewModel>

@foreach (CommentViewModel comment in Model)
{
    <div class="row comment">
        <div class="col-md-1">
            <a href="#">
                <img src="@comment.UserOwner.Avatar" class="img-rounded img33x33">
            </a>
        </div><!-- .comment-user -->
        <div class="col-md-10">
            <p class="comment-content">
                <a href="#">@comment.UserOwner.UserName</a>
                @Html.Raw(comment.Content)
            </p>
        </div><!-- .user-info -->
    </div><!-- comment -->
}