<div id="suggest-friends">
    <div class="suggest-friend">
        <div class="sf-image float-left">
            <img class="img50x50" src="~/Uploads/Users/scholes.jpg" />
        </div>
        <div class="sf-info float-left">
            <a class="sf-name">Paul Scholes</a>
            <a class="sf-manufet">2 ban chung</a>
            <a class="add-friend">+1 ket ban</a>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="suggest-friend">
        <div class="sf-image float-left">
            <img class="img50x50" src="~/Uploads/Users/scholes.jpg" />
        </div>
        <div class="sf-info float-left">
            <a class="sf-name">Paul Scholes</a>
            <a class="sf-manufet">2 ban chung</a>
            <a class="add-friend">+1 ket ban</a>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="suggest-friend">
        <div class="sf-image float-left">
            <img class="img50x50" src="~/Uploads/Users/scholes.jpg" />
        </div>
        <div class="sf-info float-left">
            <a class="sf-name">Paul Scholes</a>
            <a class="sf-manufet">2 ban chung</a>
            <a class="add-friend">+1 ket ban</a>
        </div>
        <div class="clear-both"></div>
    </div>

</div>
