
<div id="suggest-attactions">
    <div class="attaction wrapper">
        <img class="img-attraction" src="~/images/Attractions/1.jpg" />
        <div class='description'>
            <!-- description content -->
            <p class='description_content'>The pack, the basic unit of wolf social life</p>
            <!-- end description content -->
        </div>
    </div>

    <div class="attaction wrapper">
        <img class="img-attraction" src="~/images/Attractions/2.jpg" />
        <div class='description'>
            <!-- description content -->
            <p class='description_content'>The pack, the basic unit of wolf social life</p>
            <!-- end description content -->
        </div>
    </div>
</div>
