
@{
    Layout = null;
}

@using DemoSignalRChat.ViewModels

@model IEnumerable<CommentViewModel>

@foreach (CommentViewModel comment in Model)
{
    <div class="comment">
        <div class="comment-user">
            <a href="#">
                <img src="@comment.UserOwner.Avatar" class="img-rounded img33x33">
            </a>
        </div><!-- .comment-user -->
        <div class="comment-content">
            <p>
                <a href="#">@comment.UserOwner.UserName</a>
                @Html.Raw(comment.Content)
            </p>
            <p>@comment.TimeCommented . <a href="#">like</a></p>
        </div><!-- .user-info -->
        <div style="clear: left;"></div>
    </div><!-- comment -->
}