    <div id="main-left" class="col-md-5 col-sm-5 col-xs-12">
            @Html.Partial("_FormPost")
            @Html.Partial("_ListStatus")
    </div><!--\#main-left-->


    <div id="main-center" class="col-md-5 col-sm-5 hidden-xs">
    </div><!--\#main-center-->


    <div id="main-right" class="col-md-2 hidden-sm hidden-xs">
    </div><!--\#main-right-->

@section Scripts{

    <script src="~/Scripts/myScripts/Layout/jquery.autosize.min.js"></script>
    <script>
        // Example:
        $(document).ready(function () {
            $('textarea').autosize();
        });
    </script>
}