#form-post{
    padding: 10px;
}

#txt-post{
    margin-bottom: 10px;
    resize: none;
}

#status-list{
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
}

.list-comment{
    background-color: #F5F5F5;
}

.status-user{
    float: left;
    margin-right: 10px;
}

.list-comment{
    clear: both;
}

.status-header{
    border-top: 1px solid #eeeeee;
}