#form-post{
    padding: 10px;
}

#txt-post{
    margin-bottom: 10px;
    resize: none;
}

#status-list{
    /*background-color: #ffffff;*/
    margin-top: 20px;
    padding: 10px;
}

.list-comment{
    background-color: #F5F5F5;
    padding-bottom: 20px;
    clear: both;
}

.comment{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
}

.status{
    margin-bottom: 20px;
    padding: 5px;
    background-color: #ffffff;
}

.status-content{
    margin-top: 15px;
}

.status-owner-image{
    width: 43px;
    margin-right: 10px;
    float: left;
}

.status-owner-name{
    float: left;
}

.preview{
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 95px;
    border-top: 1px solid #eeeeee;
}

.preview-image{
    float: left;
    width: 90px;
    margin-right: 13px;
}

.preview-description{
    float: left;
    max-width: 386px;
}

.preview-description p{
    color: #333333;   
}

.link-preview{
    text-decoration: none;
    cursor: pointer;
}

.link-preview:hover{
    text-decoration: none;
}

.box-like-share{
    display: block;
    width: 100%;
    clear: left;
}

.list-comment{
    margin-left: 20px;
}

.comment-content{
    margin-left: 10px;
}

.comment-user{
    width: 35px;
    float: left;
}

.comment-content{
    max-width: 425px;
    float: left;
}