#main-right {
    background-color: #FFFFFF;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

#news {
    border-bottom: 10px solid #F0F0F0;
    max-height: 200px;
    overflow-y: scroll;
}

.img28x28 {
    width: 28px;
    height: 28px;
}

.new {
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #eeeeee;
}

.new-user{
    width: 28px;
    /*height: 28px;*/
    margin-top: 5px;
    float: left;
}

.new-action{
    float: left;
    margin-left: 5px;
    max-width: 145px;
}

#chat-list{
    padding: 5px;
}

.friend-chat-username{
    min-width: 130px;
    display: inline-block;
}

.img-online{
    display: none;
}

.user-chat {
    display: block;
    width: 205px;
    height: 32px;
    cursor: pointer;
}

    .user-chat:hover {
        background-color: #E5E5E5;
    }

