
.img-attraction{
    width: 310px;
    height: 90px;
    padding-left: 5px;
    margin-top: 3px;
}

div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */ 
}

div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width: 98%;
    margin-left: 5px;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	font-size:15px;
	color:white;
	opacity: 0.3;  /*transparency*/ 
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:10px;
	margin:0px;
}

#suggest-friends{
    background-color: #ffffff;
}

.float-left{
    float: left;
}

.clear-both{
    clear: both;
}

.img50x50{
    width: 50px;
    height: 50px;
}

.suggest-friend{
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.sf-info, .sf-image{
    margin: 5px;
}

/*.sf-info, .sf-image{
    margin: 30px;
}*/

.suggest-friend a{
    display: block;
}