body{
    background-color: #e6e6e6;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    /*font-size: 11px !important;
    font-family: Arial !important;
    line-height: 1.38;*/
}

#main{
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 1px;
}

a{
    cursor: pointer;
}

p, a{
    word-wrap:break-word;
}

a.peple-name{
    font-weight: bold;
}

.clear-left{
    clear: left;
    /*height: 2px;*/
}

/*div{
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
}*/