.user-wait-image{
    width: 40px;
    float: left;
    margin-left: 5px
}

.img40x40{
    width: 40px;
    height: 40px;
}

.user-wait-info{
    float: left;
    margin-left: 10px;
    width: 225px;
}

.user-wait-info a{
    display: block;
    width: auto;
}

.user-wait-accept{
    width: 115px;
    float: left;
}



