#form-post{
    padding: 10px;
}

#txt-post{
    margin-bottom: 10px;
    resize: none;
}

#status-list{
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
}

.list-comment{
    background-color: #F5F5F5;
    margin-left: 70px;
    clear: both;
}

.comment{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
}

.status-user{
    float: left;
    margin-right: 10px;
}

.comment-content, .txtComment{
    margin-left: 10px;
}

.status{
    margin-bottom: 40px;
}

.status-header{
    border-top: 1px solid #eeeeee;
}